doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="jquery/dist/jquery.min.js" type="text/javascript")
    script(src="javascripts/braintree-2.21.0.min.js" type="text/javascript")
  body
    block content
    include footer